* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: lightseagreen;
    padding: 1rem 1rem 0.2rem;
}

.filter-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: lightseagreen;
    padding: 1rem;
}

#type {
   margin: 0 0.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: lightgrey;
    height: 100%;
    max-width: 100wv;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    width: calc((100% - (2rem * 5) - (3rem * 4)) / 5);
    height: 100px;
    background-color: white;
    border-radius: 15px;
    /* box-shadow: inset; */
}

i {
    font-size: 35px;
}



